[Unit]
Description=Web Push Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/user/go-web-push-service
ExecStart=/home/user
StandardInput=tty-force
Environment=WEB_PUSH_SERVICE_DOMAIN=domain.com

[Install]
WantedBy=multi-user.target